/* Variables */
:root {
  /* Color Variables */
  --primary-color: #FFFFFF;
  --bg-color: #1f2937;
  --text-color: #333;

  /* Font Variables */
  --main-font: 'roboto', Arial, sans-serif;
  --base-font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

/* Globals */

body {
  margin: 0;
  font-family: var(--main-font)
}

h1 {
  font-family: var(--main-font)
}

h2 {
  font-family: var(--main-font)
}

h3 {
  font-family: var(--main-font)
}

/* Containers Styling */

.header {
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-top: 5px;
  margin-left: 100px;
  margin-bottom: 5px;
  }

.links {
  margin-right: 100px;
  display: flex;
  gap: 20px;
}
